.status {
    background-color: #492C14;
    color:#fff;
    margin: 10px;
}
#channelStatus a{
    color:#fff;
}

.userDetails {
    margin:10px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    height: 64px;
}

.userDetails img {
    float:left;
    padding:10px;
    width: 64px;
}

.userDisplayName {
    float: left;
    margin-top:20px;
}

.userStreamStatus {
    margin-top:20px;
    float: right;
}

.secondary {
    background-color: gray;
    color: #000;
}